@charset "UTF-8";

.about{
    width: 75%;
    margin: 0 auto;
    float: left;
}

.card .title{
    font-size: 1.5rem;
    line-height: 1;
}

.nav.has-shadow {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.revueunik{
    width: 80%;
    margin: 0 auto;
}
.SforRevue{
    width: 63%;
    float: right;
}

.nav-item img {
    max-height: 10000000px;
}
.nav-item a, a.nav-item {
    color: #7a7a7a;
}

.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
     border-bottom-color: rgb(64, 192,209);
    /* border-top-color: transparent; */
    color: grey;}

@media screen and (min-width: 1192px){
.nav-left, .nav-right {
        -ms-flex-preferred-size: 0;
        flex-basis: initial;
}}

#formregion{
    margin-left: 12%;
}
#paneltabsform{
    min-width: 278px;
}

.displayres{
    width: 78%; float: right;padding-left: 0;margin-right: -3%;
}

.frumres{
    width: 0%; float: left;    margin-top: 3%;
}

.formrez{
    width: 40%; float: left;  padding-left: 7%;
}

.formrez_1{
    margin-top: 4%;
    float: right;
    width: 40%;
    margin-right: 10%;
}

.butonform{
    margin-left: -28%;
    width: 22%;
    height: 34px;
}
@media screen and (max-width: 1189px) {
    .about{
        float: none;
        width: 100%;
    }
    .responsiv{
        width: 60%;
        margin-top: -1.7%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1236px) {
    .frumres{
        float: none;
        margin: 0 auto;
        width: 60%;
    }
    .displayres{
        width: 100%;
    }
}

@media screen and (max-width: 822px) {
    .formrez{
        width: 80%; float: none;  padding-left: 7%;
        margin: 0 auto;
    }
    .formrez_1{
        margin-top: 4%;
        float:none;
        width: 70%;
        margin-right: 10%;
        margin: 0 auto;
    }
    .butonform{
        margin-left:40%;
        width: 22%;
        height: 34px;
    }
    .responsiv{
        width: 80%;
        margin-top: -1.7%;
        margin: 0 auto;
    }
}